/* font */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background: #f8fafc;

  max-width: 1240px;
  margin: 0 auto;
}
main{
    padding: 0 10px;
}
.btn {
  border: none;
  padding: 10px 25px;
  background: rgb(49, 92, 221);
  color: #eff2f7;

  border-radius: 8px;
}
.status-info{
    background: white;
    width: 100px;
    padding: 10px;

    border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.status-info h4{
    font-size: 1rem;
    font-weight: bold;
    opacity: 0.7;
}
.status-info p{
    font-weight: bold;
    font-size: 25px;

}


@media (min-width: 768px) {
 .status-info{
    width: 200px;
    align-items: start;
    padding: 20px;

  }
}

@media (min-width: 1024px) {
  .status-info{
    width: 360px;
    align-items: start;
    padding: 20px;

  }
}