/* font */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background: #f8fafc;

  max-width: 1200px;
  margin: 0 auto;
}
main {
  padding: 0 10px;
}
.dashboard h2 {
  font-size: 26px;
  color: #1e293b;
}
/* initial btns section-2 */
.btn {
  width: 100%;

  border-radius: 8px;
  border: none;
  color: #64748b;
  padding: 8px 0px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
/* primary btn */
.active {
  background: blue;
  color: white;
}
/* .badge {
  background: red;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 4px;
  border: none;
} */

/* dashboard status */
.status {
  padding: 10px;
}
.status-info {
  background: #ffffff;
  width: 100px;
  padding: 16px 18px;

  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
}
.status-info h4 {
  font-size: 13px;
  font-weight: 600;
  color: #64748b;
}
.status-info p {
  font-weight: 700;
  font-size: 22px;
}

.job-heading p {
  background: #e2e8f0;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}
.job-info-btn {
  background: #e2e8f0;
  padding: 16px;
  border-radius: 8px;
}
.available-job h3 {
  font-size: 18px;
  font-weight: 700;
}

/* cards section-4 */
.card-container {
  padding: 0 20px;
}
.job-card {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.04);
}
/* card inputs */
.job-card h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 4px 0;
}
.role {
  font-size: 15px;
  color: #64748b;
  margin-bottom: 12px;
}
/* card btns */
.btn-interview {
  border-radius: 8px;
  border: 2px solid;
  background: transparent;
  color: #10b981;
  padding: 8px 10px;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}
.btn-rejected {
  border-radius: 8px;
  border: 2px solid;
  background: transparent;
  color: red;
  padding: 8px 10px;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}
.btn-interview:hover{
  background: green;
  color: white;
}
.btn-rejected:hover{
  background: red;
  color: white;
}

/*delete btn*/
.delete-btn {
  border: none;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  color: red;
}
.location {
  font-size: 13px;
  font-weight: 500;
  color: #94a3b8;
  margin-bottom: 16px;
}
.salary {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 16px;
}
.btn-status {
  border-radius: 6px;
  border: none;
  background: #eff6ff;
  color: #1e401f;
  padding: 5px 12px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 16px;
}
.desc {
  font-size: 14px;
  line-height: 1.6;
  color: #64748b;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .status-info {
    width: 200px;
    align-items: start;
    padding: 20px;
  }
  .btn {
    width: 100px;
    padding: 10px;
  }
}

@media (min-width: 1024px) {
  .available-job h3 {
    font-size: 24px;
  }
  .job-card h3 {
    font-size: 24px;
  }
  .job-card p{
    font-size: 18px;
  }
  .status-info {
    width: 360px;
    text-align: start;
    padding: 20px;
  }
  .status-info h4 {
    font-size: 16px;
  }
  .status-info p {
    font-size: 24px;
  }
  .btn {
    width: 120px;
    padding: 10px;
    font-size: 16px;
  }
  .dashboard h2 {
    font-size: 28px;
  }
}
